<div ng-controller="listCtrl">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1> Enter a search term to query the Imgur API:</h1>
              <input type="text" ng-model="searchTerm">
              <button class="btn btn-primary" ng-click="search()">Search</button>
              <!-- <h3>"{{searchTerm}}"</h3> -->
          </div>
        </div>
      </div>
        

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1> Here are the 10 most recent entries in our database for searches:</h1> 
         
            {{results}}
  

        </div>
      </div>
    </div>
  
  </div><!-- controller -->